$color_primary: red;
$color_secudary: blue;
$color_hijos: green;
$color_hijas: pink;
$color_nietos: violet;
$color_nietas: gold;
$size_general: 30%;
$size_border: 20px;
$box_estilos: (
    ancho: 360px,
    azul: blue,
    verde: green,
);

@function division($numero1, $numero2){ 
    @return $numero1 / $numero2;
}

@mixin box_general($color: salmon, $miClase: uno, $cantidad: 1) {
    .box_#{$miClase}{
        @if map-has-key($box_estilos, $color){
            background-color: map-get($box_estilos, $color);
        }
        color: $color_nietos; 
        width: division(map-get($box_estilos, ancho), $cantidad);      
    }
}

@mixin tamanio_nietes {
    width: $size_general;
    height: $size_general;
    border: ($size_border + 1) solid; 
}

@mixin tamanio_hijes {
    width: $size_general;
    height: $size_general;
    border: $size_border + 3 solid; 
}

@mixin tamanio_padres {
    width: 40vw;
    height: 80vh;
    border: $size_border solid; 
}

@mixin horizontal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin veritcal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
