/* selector */
body {
    /* color de fondo  */
    background-color: black;
}
h1  {
 /* propiedad : valor */
    color: #ffffff; /*color de la etiqueta */ 
    text-align: center;  /* Alinear el texto */ 
}

p {
    color: white;
    font-size: x-large; /* el tamaño de fuente */
}

img {
    height: 200px;  /* altura */ 
    width: 200px;  /* ancho */ 
}

